* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_1 {
    background-color: aqua;
    height: 2rem;
}

.head_1 {
    background-color: red;
    height: 1rem;
    width: 25%;
    border: 1px solid black;
}

.head_2 {
    background-color: red;
    height: 1rem;
    width: 50%;
    border: 1px solid black;
}

.debug header {
    height: 40px;
    background-color: grey;
}

nav {
    background-color: rgb(233, 132, 224);
    height: 400px;
}

.logo {
    width: 600px;
    height: 250px;
    background-color: lightgrey;
    margin-top: 2rem;
}

section {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.bg_2 {
    background-color: lightgreen;
    border: 1px solid black;
    height: 30rem;

}

.row {
    background-color: lightsalmon;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.col_1 {
    width: 60%;
    height: 90%;
    background-color: darkolivegreen;
    border: 1px solid black;
}

.col_2 {
    width: 40%;
    height: 90%;
    background-color: darkolivegreen;
    border: 1px solid black;
}

.card {
    width: 90%;
    height: 90%;
    background-color: rgb(236, 143, 189);
    margin: 1rem;

}

.dark {
    background-color: lightgrey;
}

.bg_3 {
    background-color: mediumseagreen;
    height: 48rem;
}