* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.debug .bg_1 {
    background-color: aqua;
    height: 40px;
}

.head_1 {
    width: 25%;
    border: 1px solid black;
}

.debug .head_1,
.head_2 {
    background-color: red;
    height: 1rem;
}

.head_2 {
    width: 50%;
    border: 1px solid black;
}

.debug header {
    height: 40px;
    background-color: grey;
}

.debug nav {
    background-color: rgb(233, 132, 224);
    height: 400px;
}

.logo {
    width: 600px;
    margin-top: 2rem;
}

.debug .logo {
    height: 250px;
    background-color: lightgrey;
}

section {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.bg_2 {
    border: 1px solid black;
}

.debug .bg_2 {
    background-color: lightgreen;
    height: 30rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.debug .row {
    background-color: lightsalmon;
    height: 27rem;
}


.col_1 {
    width: 60%;
    border: 1px solid black;
}

.debug .col_1,
.col_2 {
    height: 389px;
    background-color: darkolivegreen;
}

.col_2 {
    width: 40%;
    border: 1px solid black;
}

.card {
    margin: 1rem;
}

.debug .card {
    height: 350px;
    background-color: rgb(236, 143, 189);
}

.debug .dark {
    background-color: lightgrey;
}

.debug .bg_3 {
    background-color: mediumseagreen;
    height: 48rem;
}

.debug footer {
    background-color: tomato;
}

.col_3 {
    width: 30%;
}

.debug .col_3 {
    height: 360px;
    background-color: darkkhaki;
}

.col_4 {
    width: 15%;
}

.debug .col_4 {
    height: 360px;
    background-color: indianred;
}


.info {
    width: 15%;
}

.debug .info {
    height: 50px;
    background-color: yellow;
}

.row_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debug .row_2 {
    background-color: lightsalmon;
    height: 60px;
}

#ft_row_1 {
    padding-top: 2rem;
}

.bg_4 {
    border: 1px solid black;
    padding-bottom: 2rem;
}

.debug .bg_4 {
    background-color: lightgreen;
    height: 40rem;
}